<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles/main.css" rel="stylesheet">
    <style>
        form{
            background-color: #FAF2F1;
           padding: 5% 0 5% 0;
        }
        body{
            background-color: #FAF2F1;
        }
        input{
            padding: 0.5%;
            text-align: center;
            margin-top: 10px;
            margin-left: 45%;
            border-radius: 4px;
            color: rgb(44, 6, 6);

        }
        button{
            margin-left: 48%;
            margin-top: 15px;
            padding: 5px 20px 5px 20px;
            border-radius: 4px;
            background-color: rgb(44, 6, 6);
            color: #FAF2F1;
            border-color: rgb(44, 6, 6);
        }
        button:hover{
            background-color: rgba(44, 6, 6, 0.647);
        }
        h1{
            text-align: center;
            color: rgb(44, 6, 6);
        }
    </style>
</head>
<body>
    <% if(locals.product){%>
        <form action="/api/inventory/<%= product.id %>" method="post">
            <h1>Update Product Data</h1>
            <input type="text" class="update_input" placeholder="name/product_code" name="name" value="<%= product.name %>"><br>
            <input type="number" class="update_input" placeholder="quantity" name="quantity" value="<%= product.quantity %>" min="0"><br>
            <input type="text" class="update_input" placeholder="company" name="company" value="<%= product.company %>"><br>
            <button type="submit">submit</button>
       </form>
    <%} else{%>
   <form action="/api/inventory" method="post">
    <h1>Add Product</h1>
        <input type="text" placeholder="name/product_code" name="name">
        <input type="number" placeholder="quantity" name="quantity" min="0">
        <input type="text" placeholder="company" name="company">
        <button type="submit">submit</button>
   </form>
   <%}%>
</body>
</html>